@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans&display=swap');
@import "./global";

:global(#cv) {
  color: $black;
  font-family: "Open Sans";
  font-size: 1rem;
  padding: 1.8rem 1rem;
  line-height: 1.6rem;

  @include breakpoint(tablet-up) {
    max-width: 750px;
    margin: 0 auto;
  }

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $sharp-purple;
      text-decoration: underline;
    }
  }
}

h1, h2, h3 {
  font-family: "Alfa Slab One";
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 3rem;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1.2rem;

  @include breakpoint(tablet-up) {
    margin-bottom: 1.8rem;
    flex-flow: row nowrap;
    align-items: flex-end;

    ul {
      li {
        text-align: right;
      }
    }
  }
}

.section {
  margin-bottom: 1.2rem;

  @include breakpoint(tablet-up) {
    margin-bottom: 1.8rem;
  }
}


.experience {
  li {
    display: flex;
    flex-flow: column nowrap;

    @include breakpoint(tablet-up) {
      flex-flow: row nowrap;
    }
  }
}

.company {
  flex-basis: 100%;
  min-width: 100%;

  @include breakpoint(tablet-up) {
    flex-basis: 30%;
    min-width: 30%;
    margin-bottom: .8rem;
  }
}

.companyExperience {
  flex-basis: 100%;
  min-width: 100%;
  margin-bottom: .8rem;

  @include breakpoint(tablet-up) {
    flex-basis: 68%;
    min-width: 68%;
  }
}
